# Getting Started

Let's start with usual introduction to programming language!\
(In slightly different way)

In [ ]:
print("Halo Dek!")

# Data Types

There are several (singular) data types in Python.\
First is numeric data type, like integer, float, decimal, etc.

It is written as is, without quotes ("without this" or 'this').

In [ ]:
# run this cell to see the result

print(5)
print(-13)
print(1.441)

We can perform basic arithmetic operation to numeric.

In [ ]:
# run this cell and identify the arithmetic operators below

print(5+2)
print(5-2)
print(5*2)
print(5**2)
print(5/2)
print(5//2)
print(5%2)

In [ ]:
print(13/3)

# 13 = 4*3 + 1
# 13 dibagi 3 hasilnya 4 (quotient) bersisa 1 (modulo)

print(13//3) # floor function of division
print(13%3) # modulo

$\sqrt[3]{27} = 27^{\frac{1}{3}}$

In [ ]:
print(27**(1/3))

print(int(27**(1/3)))
print(int(28**(1/3)))

The second data type is string.\
To create a string data, use quotes.

In [ ]:
print('This is a string, enclosed by a single quotes')
print("This is also a string, enclosed by a double quotes")
print('''This one is also a string, but uses three single quotes''')
print("""Another string, this time uses three double quotes""")

As we see above, there are 4 types of quotes in Python.\
Let's try to understand them.

In [ ]:
# what if you want to print something containing a single quotes?
# easy, just enclose them using double quote!

print("I need to print this 'single quotes'")

In [ ]:
# similar when you want to print double quotes,
# just enclose them in single quotes

print('now I will print this "double quotes"')

In [ ]:
# the thing is, you have to be consistent of which one
# is the string, which one is the enclosure.
# so you can't use same type of quotes as both string and
# enclosure

print("this will return an "error"")

In [ ]:
print('this one will also return an 'error'')

In [ ]:
print("mixing 'this' and "this" will also return an error")

In [ ]:
# so, what if you need to mix between those two quotes?
# here is when three quotes come into the stage

print('''try to "print" this 'sentence' with so "many" combination of 'quotes'.''')

In [ ]:
# just be careful that the following one will fail
# look at the series of four single quotes at the end
print('''try to "print" this 'sentence' with so "many" combination of 'quotes'''')

In [ ]:
# you can make variation using three double quotes
print("""try to "print" this 'sentence' with so "many" combination of 'quotes'""")

# but again, be careful to not make the code "confused" with the enclosures

In [ ]:
# the actual useful power of three quotes are multiple lines printing
print("""this
will
print
several
lines""")

In [ ]:
# whereas using one quotes will fail
print("can
you
print
this
without
error?")

In [ ]:
# you can write the code in several lines using single quotes
# by adding escape character \ (backslash)
# but it won't give newlines to the result

print("this\
will\
print\
one\
line")

print("thiswillprintoneline")

In [ ]:
# but you can do this workaround

print("this\nbackslash n\nis\nnewlines\ncharacter")

In [ ]:
# or this
print("print")
print("several")
print("lines")

We can do "addition" (a.k.a contatenate) operation to the strings using +.

In [ ]:
print("please" + " run " + "this" + " " + "cell")
print("t" + "h" + "a" + "n" + "k" + "s" + "!")

The third data type is boolean.\
The values are True and False (without quotes).\
Notice that the first letter is uppercase and the others are lowercase.\
true, false, TRUE, FALSE won't work as boolean, because Python will\
interpret them as variables.

In [ ]:
print(True)

In [ ]:
print(False)

In [ ]:
print(true)

In [ ]:
print(false)

In [ ]:
print(TRUE)

In [ ]:
print(FALSE)

Python can interpret True and False automatically (without explicit casting) as 1 or 0.

In [ ]:
print(True + 2)

In [ ]:
print(False + True*3)

But when any non zero numbers are casted as boolean,\
they will return as True (including string type).

That's because of this simple logic:
* 0 is False
* not 0 (literally everything that is not numeric zero) is True

In [ ]:
print(bool(0))
print(bool(1))
print(bool(2))
print(bool(-2))
print(bool(0.2312414))
print(bool("abc"))
print(bool("123"))
print(bool("0"))

Logical expressions also return boolean result.

In [ ]:
print(5 > 2)
print(5 == 3)
print(-4 >= -1)
print(-10 <= -10)
print(5 == "5")
print(True > False)
print(True and False)
print(not (True or False) == (not True and not False))

Now we will learn how to declare variables.\
In Python, declaring variables is very simple.

In [ ]:
a = 5
b = "5"

print(a)
print(b)

We don't need to declare data types as Python will automatically\
assign them depending on how we write them.

Run these three cells to compare them.

In [ ]:
print(a + 5)

In [ ]:
print(b + "5")

In [ ]:
print(b + 5)

Variables declaration is case-sensitive.

In [ ]:
c = "lower c"
C = "UPPER C"

print(c)
print(C)

To modify a variable, simply rewrite them.\
To delete a variable, use command **del**.

In [ ]:
# rewrite variable c
c = "new lower c"

print(c)

In [ ]:
# delete variable C
del C

print(C)

In [ ]:
d = c

print(d)
del c

In [ ]:
print(c)

# Collection of Objects

Collection = single "variable" used to store multiple values

|Collection Type                       |Description     |Duplicate |
|:------------------------------|:---------|:-----------|
List = [ ] | ordered & changeable| OK
Set = { } | unordered & immutable, but Add/Remove OK | NO
Tuple = ( ) | ordered & unchangeable. FASTER | OK

<br></br>
The first collection that we will see is **Tuple**.\
Tuples are **ordered & unchangeable** collection of objects.\
There are various ways to create tuples.

In [ ]:
# generally, use regular brackets () to create tuples
tuple1 = (1, 2, "three", 4)
tuple2 = tuple((1, True, 1, "false"))
tuple3 = () # creates an empty tuple
print(tuple1)
print(tuple2)
print(tuple3)

Objects or elements in tuples can be called by using index.\
Note that Python **index starts from 0**.\
**Last element can be indexed as -1**.\
<img src="https://www.aipython.in/wp-content/uploads/2020/02/Index_in_python-list.png" width="660" />

In [ ]:
print(tuple1[0])
print(tuple2[1])
print(tuple2[-1])

What if we call an element that is out of index range?

In [ ]:
print(tuple1[5])

What if we call an element from empty tuple?

In [ ]:
print(tuple3[0])

Tuples are **unchangeable**.\
Once a tuple is created, we can't modify it.

In [ ]:
# try to run this
tuple4 = ('a', 'b', 'c')
tuple4[0] = 'A'
print(tuple4)

The only way to "modify" a tuple is by declaring it as a new tuple.

In [ ]:
tuple4 = ('a', 'b', 'c')
tuple4 = ('A', 'b', 'c')
# or you can also do this
# tuple4 = ('A',) + tuple4[1:]
print(tuple4)

Since tuples are ordered collection, we can sort them using sorted() function.

In [ ]:
tuple5 = (1, 30000, -1)
# print these three lines and figure out the differences
print(sorted(tuple5))
print(sorted(tuple5, reverse = True))
print(tuple5)

In [ ]:
print( tuple(sorted(tuple5)) )

In [ ]:
#show all function for tuple
print(dir(tuple1))

In [ ]:
#using function (index)
tuple1.index("three")

In [ ]:
#using fuction (count)
tuple1.count("three")

In [ ]:
#show all function for tuple (by help function)
print(help(tuple1))

In [ ]:
#show length of tuple
print(len(tuple1))

In [ ]:
#show length of tuple
print("three" in tuple1)

In [ ]:
#iteration
for x in tuple1:
  print(x)

The next collection is *set*.

Sets are **unordered** and **unique** collection of objects.\
There are various ways to create sets.

In [ ]:
# generally, use curly brackets {} to create sets
set1 = {"three", 1, 4, 2}
a = (1, "1", 1, 2)
set2 = set((1, "1", 1, 2))
set3 = {} # creates an empty set
print(set1)
print(set2)
print(set3)

{'three', 2, 4, 1}
{1, '1', 2}
{}

Since sets are unordered collection, we can't call the element by index.

In [ ]:
print(set1[2])

TypeError: ignored

Sets are mutable: the elements inside a set can be modified.

Common methods are **.add()**, **.discard()**, and **.clear()**.

In [ ]:
set4 = {3, 5, "ten", False}
print(set4)

set4.add(9)
print(set4)

set4.add(3)
print(set4)

set4.add("ab")
print(set4)

set4.discard("ten")
print(set4)

set4.discard("huh?")
print(set4)

set4.clear()
print(set4)

{False, 'ten', 3, 5}
{False, 'ten', 3, 5, 9}
{False, 'ten', 3, 5, 9}
{False, 'ten', 3, 5, 9, 'ab'}
{False, 3, 5, 9, 'ab'}
{False, 3, 5, 9, 'ab'}
set()

Sets in Python also follow set operations like mathematical sets.\
Try to find the reference and explore it by yourself!

The next collections are *dictionary*.\
This collection is key-value pair of objects.

In [ ]:
# dictionaries also use curly brackets {} to be created

luffy = {
    "Full Name": "Monkey D. Luffy",
    "Occupation": "Pirate",
    "Age": 19,
    "Origin": "East Blue"
}

print(luffy["Full Name"])
print(luffy["Age"])

Monkey D. Luffy
19

What if we call non existing key from a dictionary?

In [ ]:
print(luffy["Devil Fruit"])

KeyError: ignored

The last type of collection that we will learn is the ones that we will use the most: **LIST**.

Lists are **ordered** and **changeable** colletion of objects.\
There are various ways to create a list.

In [ ]:
# generally, use square brackets [] to create lists
list1 = [1, 2, 3, 4, 3, 2, 1]
list2 = list( ("1", "2", 1, 2) )
list3 = [] # creates an empty list
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 3, 2, 1]
['1', '2', 1, 2]
[]

Since lists are ordered, we can call them by index.\
We can also sort them in some order.

In [ ]:
print(list1[5])
print(sorted(list1))

2
[1, 1, 2, 2, 3, 3, 4]

Lists are mutable, meaning we can modify the elements inside it.\
We can do direct declaration to any indexed elements, or we can put several methods there.

In [ ]:
#show all function
print(dir(luffy))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
#find detail of function
print(help(list1.pop))

In [ ]:
# direct re-declaration
A = [1, 2, 3]
A[0] = 3
print(A)

# use .append() method
A.append(4)
print(A)

# use .remove() method
A.remove(3)
print(A)

# use del command
del A[1]
print(A)

# use + operator
A = A + [10, 12, 13, 14]
print(A)

# use .pop() method (like delete using index)
A.pop(0)
print(A)

# use .insert()
A.insert(2, "tambahan")
print(A)

[3, 2, 3]
[3, 2, 3, 4]
[2, 3, 4]
[2, 4]
[2, 4, 10, 12, 13, 14]
[4, 10, 12, 13, 14]
[4, 10, 'tambahan', 12, 13, 14]

In [ ]:
duplicated_list = [4,4,4,4,4,4,1,1,1,1,1,7,7,7,7,4,4,4,3,9]

# print(set(duplicated_list))
# print(list(set(duplicated_list)))

unduplicated_list = list(set(duplicated_list))
print(unduplicated_list)

To print subset from lists (also working for tuples), we can slice the lists.

In [ ]:
B = ["zero", "one", "two", "three", "four", "five"]

# can you figure out what happen on each line?

print(B)

# print B from the very beginning to the very end
print(B[:])

# print B from index 1 to BEFORE index 3 (index 3 exluded)
print(B[1:3])

# print B from the very beginning to BEFORE index 3
print(B[:3])

# print B from index 1 to the very end
print(B[1:])

# print B from the very beginning to second last element (excluded)
print(B[:-2])

# print B from the very beginning to the very end, jump 2 elements
print(B[ : : 2])

# alternative way to reverse list
print(B[ : :-1])

In [ ]:
#iteration
for x in B:
  print(x)

# Conditions

We will learn how to use **if**, **elif**, and **else** here.

First, let's start with **if**.

In [ ]:
a = 5

# if a > 3:
#   # indentation is mandatory here
#   print(f"{a} is greater than 3")

# actually you can also do it in one line

if a > 3: print(f"{a} is greater than 3")

Compare it with this.

In [ ]:
a = 5

if a > 10:
  print(f"{a} is greater than 10")

We can define multiple conditions by using **if** and **elif**.

In [ ]:
b = 10

if b < 5:
  print(f"{b} is less than 5")
elif b < 15:
  print(f"{b} is less than 15")
elif b < 25:
  print(f"{b} is less than 25")

In [ ]:
b = 30

if b < 5:
  print(f"{b} is less than 5")
elif b < 15:
  print(f"{b} is less than 15")
elif b < 25:
  print(f"{b} is less than 25")
else:
  print(f"{b} is not less than 25")

# SQL equivalent clause
# case
#   when b < 5 then print ''
#   when b < 15 then print ''
#   when b < 25 then print ''
#   else ''
# end

# to comment, press ctrl + / (or cmd + / in mac)

As we can see above, if one condition is fulfilled either in **if** or in one of **elif**s,\
the conditional checking ends.\
So though b = 10 is also less than 25 (second **elif**), it won't be executed anymore.

Last, we have **else** when any **if** or **elif** conditions don't meet.

In [ ]:
c = 25

# assuming c is always integer
if c%2 == 0:
  print(f"{c} is an even integer")
else:
  print(f"{c} is an odd integer")

# try to do the variation using elif

# Looping

Looping is the way to iterate some tasks through some iteration rules.

First type of loop is **for**.

In [ ]:
for i in [1,2,3,4,5]:
  # indentation is mandatory
  print(i)

**For** loops through any iterables, like lists, tuples, sets, etc.\
For unordered collection like sets, it will loop through set elements sorting and non duplicated.

In [ ]:
for j in (3,5,7):
  print(j + 5)

In [ ]:
for k in {4,1,3,1,3}:
  print(k)

In [ ]:
# range(n) -> iterable dari 0 sampai n-1
# range(k, n) -> iterable dari k sampai n-1

for i in range(4):
  print(i)

print("\n\n")

for j in range(2,5):
  print(j)

We can also print the index using enumerate() function.\
It will return as tuple (index, item).\
We can also directly separate between index and item by calling them both in the beginning.

In [ ]:
for m in enumerate(["a", "b", "c"]):
  print(m)
  # m is tuple

In [ ]:
for (idx, x) in enumerate(["a", "b", "c"]):
  print(f"The element at index {idx} is {x}")

In [ ]:
for m in enumerate(["a", "b", "c"]):
  print(f"The element at index {m[0]} is {m[1]}")

We can also do nested for: for inside a for.

In [ ]:
A = [2, 3]
B = [4, 5]

for aaaaaa in A:
  for b in B:
    print(f"{aaaaaa} times {b} equals to {aaaaaa*b}")

print(aaaaaa)

Next kind of looping is **while**.

**For** loops through an iterable object, but **while** loops through some condition.

In [ ]:
a = 1

while a <= 3:
  print(a)
  a += 1 # this is equivalent to a = a + 1

As we see there, loop will continue to happen as long as the condition meets.\
When the condition no longer meets (when a = 4), the loop stops.

As **while** will execute when the condition is true, putting **True** as the condition\
will result on infinite loop.

To make this bearable, I will put sleep command here so it won't write lines crazily.\
To stop the loop, simply press the stop button.

In [ ]:
import time

while True:
  print(1)
  time.sleep(1)

A fun example of while True is making Python clock.

In [ ]:
import time
import datetime

while True:
  print(f"\r {datetime.datetime.now().strftime('%H:%M:%S')}", end = "")
  time.sleep(1)

There is another way to stop the loop: using **break**.

Let's say we want to know the smallest positive integer $n$ such that $2^n$ is greater than 1 billion.\
Using "normal" while, we can do this.

In [ ]:
n = 1

while 2**n <= 1000000000:
  n += 1

print(n)

Using while True with break, we can do this.

In [ ]:
n = 1

while True:
  if 2**n > 1000000000:
    break

  # this line below will not be executed when break happens
  n += 1

print(n)

Though they look similar, but **while True with break** actually can cater more complex cases.\
Can you think of cases that will suit **while True with break** more?

Sebuah barisan aritmatika dengan suku pertama $U_1 = 3$ memiliki beda $b = 5$.\
Tentukan $22663$ merupakan suku ke berapa.

In [ ]:
L = [3]

for i in range(10000):
  L.append(L[-1] + 5)

In [ ]:
print(L)

In [ ]:
for (idx, i) in enumerate(L):
  if i == 22663:
    print(idx + 1)